#### Importing libraries

In [10]:
import numpy as np
import pandas as pd

#### Importing featureCounts data of rat

In [11]:
data_path="/home/pinky/Videos/jupyter_rat/HSC_T6_S3_feature_count.tsv"
data_frame=pd.read_csv(data_path, sep="\t",header=0) # in order to read the file through panda 
data_frame.head()

,Geneid,Chr,Start,End,Strand,Length,Counts
0,ENSRNOG00000046319,1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1;1,396700;396700;396840;397780;399062;399545;3995...,396905;396905;396905;397788;399070;399827;3998...,+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+,2992,0
1,ENSRNOG00000047964,1;1;1;1;1;1,699413;702189;702860;704513;705913;707179,699618;702471;703663;704737;706036;708065,+;+;+;+;+;+,2529,0
2,ENSRNOG00000050370,1;1;1;1;1;1,744616;747202;750254;751392;752596;755440,745499;747325;750478;752195;752878;755645,-;-;-;-;-;-,2526,0
3,ENSRNOG00000032365,1;1;1;1;1;1,804862;806891;808192;809267;810459;813312,805748;807014;808416;810070;810741;813517,-;-;-;-;-;-,2529,0
4,ENSRNOG00000040300,1;1;1;1;1;1;1,1101965;1102696;1103429;1103491;1104127;110463...,1102031;1102837;1103489;1103579;1104375;110489...,-;-;-;-;-;-;-,1185,165

##### We are going to keep gene length and counts. The other features are not necessary for Transcript per Million (TPM) counting. That's why we are going to drop all other columns.

In [12]:
data_frame.drop(['Chr','Start'],axis=1,inplace=True)
data_frame

,Geneid,End,Strand,Length,Counts
0,ENSRNOG00000046319,396905;396905;396905;397788;399070;399827;3998...,+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+;+,2992,0
1,ENSRNOG00000047964,699618;702471;703663;704737;706036;708065,+;+;+;+;+;+,2529,0
2,ENSRNOG00000050370,745499;747325;750478;752195;752878;755645,-;-;-;-;-;-,2526,0
3,ENSRNOG00000032365,805748;807014;808416;810070;810741;813517,-;-;-;-;-;-,2529,0
4,ENSRNOG00000040300,1102031;1102837;1103489;1103579;1104375;110489...,-;-;-;-;-;-;-,1185,165
...,...,...,...,...,...
32878,ENSRNOG00000055717,85,+,68,0
32879,ENSRNOG00000052851,972,+,339,0
32880,ENSRNOG00000055633,848,-,444,0
32881,ENSRNOG00000053444,213,+,68,0
32882,ENSRNOG00000060590,601,-,121,0

In [13]:
data_frame.drop(['End','Strand'],axis=1, inplace=True)

In [14]:
data_frame

                   Geneid  Length  Counts
0      ENSRNOG00000046319    2992       0
1      ENSRNOG00000047964    2529       0
2      ENSRNOG00000050370    2526       0
3      ENSRNOG00000032365    2529       0
4      ENSRNOG00000040300    1185     165
...                   ...     ...     ...
32878  ENSRNOG00000055717      68       0
32879  ENSRNOG00000052851     339       0
32880  ENSRNOG00000055633     444       0
32881  ENSRNOG00000053444      68       0
32882  ENSRNOG00000060590     121       0

[32883 rows x 3 columns]

##### Multiplication of gene length by 0.001 for convert the base pair into kilobase (kb) pair

In [15]:
data_frame_length_kb=data_frame['Length']*0.001

In [16]:
data_frame_length_kb

0        2.992
1        2.529
2        2.526
3        2.529
4        1.185
         ...
32878    0.068
32879    0.339
32880    0.444
32881    0.068
32882    0.121
Name: Length, Length: 32883, dtype: float64

##### Adding the converted kb data into a seperate column in the data frame by the length_kb title

In [20]:
data_frame['length_kb']=data_frame_length_kb

In [21]:
data_frame

                   Geneid  Length  Counts  length_kb
0      ENSRNOG00000046319    2992       0      2.992
1      ENSRNOG00000047964    2529       0      2.529
2      ENSRNOG00000050370    2526       0      2.526
3      ENSRNOG00000032365    2529       0      2.529
4      ENSRNOG00000040300    1185     165      1.185
...                   ...     ...     ...        ...
32878  ENSRNOG00000055717      68       0      0.068
32879  ENSRNOG00000052851     339       0      0.339
32880  ENSRNOG00000055633     444       0      0.444
32881  ENSRNOG00000053444      68       0      0.068
32882  ENSRNOG00000060590     121       0      0.121

[32883 rows x 4 columns]

##### Counting Read Per Kilobase (RPK)
Each gene read counts have to be divided by each gene length in kilobase(kb)

In [22]:
rpk= data_frame['Counts']/data_frame['length_kb']

In [23]:
rpk

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4        139.240506
            ...
32878      0.000000
32879      0.000000
32880      0.000000
32881      0.000000
32882      0.000000
Length: 32883, dtype: float64

##### Addition of rpk output as seperate column in our dataframe titled as rpk_values

In [25]:
data_frame['rpk_values']=rpk

In [26]:
data_frame

                   Geneid  Length  Counts  length_kb  rpk_values
0      ENSRNOG00000046319    2992       0      2.992    0.000000
1      ENSRNOG00000047964    2529       0      2.529    0.000000
2      ENSRNOG00000050370    2526       0      2.526    0.000000
3      ENSRNOG00000032365    2529       0      2.529    0.000000
4      ENSRNOG00000040300    1185     165      1.185  139.240506
...                   ...     ...     ...        ...         ...
32878  ENSRNOG00000055717      68       0      0.068    0.000000
32879  ENSRNOG00000052851     339       0      0.339    0.000000
32880  ENSRNOG00000055633     444       0      0.444    0.000000
32881  ENSRNOG00000053444      68       0      0.068    0.000000
32882  ENSRNOG00000060590     121       0      0.121    0.000000

[32883 rows x 5 columns]

##### Summation of all of the RPK values

In [27]:
total_rpk=data_frame['rpk_values'].sum()

In [28]:
total_rpk

44263543.242509

##### Determination of Per Million Scaling factor
Dividing the Read per Kilobase(RPK) by 1000,000

In [29]:
per_million_scalling_factor=total_rpk/1000000

In [30]:
per_million_scalling_factor

44.263543242509

##### Counting Transcript Per Million (TPM) value
Dividing the RPK values with per million scaling factor

In [32]:
tpm=data_frame['rpk_values']/per_million_scalling_factor

In [33]:
tpm

0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        3.145715
           ...
32878    0.000000
32879    0.000000
32880    0.000000
32881    0.000000
32882    0.000000
Name: rpk_values, Length: 32883, dtype: float64

##### Addition of TPM values to the data frame

In [34]:
data_frame['tpm']=tpm

In [35]:
data_frame

                   Geneid  Length  Counts  length_kb  rpk_values       tpm
0      ENSRNOG00000046319    2992       0      2.992    0.000000  0.000000
1      ENSRNOG00000047964    2529       0      2.529    0.000000  0.000000
2      ENSRNOG00000050370    2526       0      2.526    0.000000  0.000000
3      ENSRNOG00000032365    2529       0      2.529    0.000000  0.000000
4      ENSRNOG00000040300    1185     165      1.185  139.240506  3.145715
...                   ...     ...     ...        ...         ...       ...
32878  ENSRNOG00000055717      68       0      0.068    0.000000  0.000000
32879  ENSRNOG00000052851     339       0      0.339    0.000000  0.000000
32880  ENSRNOG00000055633     444       0      0.444    0.000000  0.000000
32881  ENSRNOG00000053444      68       0      0.068    0.000000  0.000000
32882  ENSRNOG00000060590     121       0      0.121    0.000000  0.000000

[32883 rows x 6 columns]

##### Saving the data frame as TSV file format

In [37]:
data_frame.to_csv("feature_counts_rat_TPM.tsv",sep="\t")

##### Sorting the data frame according the TPM values

In [38]:
sorted_data_frame = data_frame.sort_values(by=["tpm"], ascending=False)

##### Saving the sorted data frame in TSV file format

In [39]:
sorted_data_frame.to_csv("featurecount_rat_TPM_sorted.tsv",sep="\t")

In [40]:
sorted_data_frame

,Geneid,Length,Counts,length_kb,rpk_values,tpm
31865,ENSRNOG00000034254,1395,485749,1.395,348207.168459,7866.680861
12775,ENSRNOG00000010208,740,221591,0.740,299447.297297,6765.100020
31765,ENSRNOG00000000957,483,129286,0.483,267672.877847,6047.253750
18841,ENSRNOG00000009439,1389,353060,1.389,254182.865371,5742.487988
32413,ENSRNOG00000001148,1093,272105,1.093,248952.424520,5624.322101
...,...,...,...,...,...,...
14589,ENSRNOG00000053708,4310,0,4.310,0.000000,0.000000
14584,ENSRNOG00000051657,408,0,0.408,0.000000,0.000000
14583,ENSRNOG00000028518,641,0,0.641,0.000000,0.000000
14582,ENSRNOG00000052821,319,0,0.319,0.000000,0.000000
32882,ENSRNOG00000060590,121,0,0.121,0.000000,0.000000